.table-frontmatter {
		font-size: .875rem;
		line-height: 1.25rem;
		overflow-wrap: anywhere;
}

.table-frontmatter th {
		width: 30%;
		padding-left: 5%;
		text-align: left;
}

.table-frontmatter td {
		padding-left: 1em;
}

.table-frontmatter .tc-edit-tags {
	border: hidden;
}